<div class="grid grid-cols-2 gap-3">
  <% @meals.each do |label, meal_type| %>
    <section class="rounded-2xl border border-white/30 bg-white/35 backdrop-blur-md shadow-lg p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold mb-4 text-gray-900"><%= label %></h2>
      <%= link_to "記録する", new_calorie_record_path(meal_type: meal_type), class: "text-sm text-indigo-600 hover:text-indigo-800" %>
    </div>
    <% data = @calorie_records.find { |r| r.meal_type == meal_type.to_s } %>
    <% if data.present? %>
        <p><%= data.calorie %> kcal</p>
        <p><%= data.memo %></p>
        <% if data.image.present? %>
          <p><%= image_tag data.image_url, class: "mt-2 rounded" %></p>
        <% end %>
    <% else %>
        <p>記録がありません</p>
    <% end %>
    </section>
  <% end %>
</div>