<div class="min-h-screen bg-cover bg-center flex items-center justify-center px-4"">

  <div class="w-full max-w-md rounded-2xl bg-white/85 backdrop-blur shadow-lg border border-black/5 p-10">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-gray-900">ログイン</h2>
    </div>

    <div class="mt-7">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="space-y-2">
          <div>
            <%= f.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-700" %>
            <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              class: "mt-2 w-full rounded-lg border border-gray-300 bg-white px-4 py-3 text-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" %>
          </div>

          <div>
            <%= f.label :password, "パスワード", class: "block text-sm font-medium text-gray-700" %>
            <%= f.password_field :password,
              autocomplete: "current-password",
              class: "mt-2 w-full rounded-lg border border-gray-300 bg-white px-4 py-3 text-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="flex items-center gap-2">
              <%= f.check_box :remember_me, class: "rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
              <%= f.label :remember_me, "ログインを記憶する", class: "text-sm text-gray-700" %>
            </div>
          <% end %>

          <div>
            <%= f.submit "ログイン",
              class: "w-full rounded-md bg-indigo-500/90 px-6 py-2.5 text-white font-semibold bg-orange-300/90 hover:bg-orange-300 active:bg-orange-500 transition shadow" %>
          </div>
        </div>

      <% end %>
    </div>

<div class="mt-6">
  <div class="flex items-center mb-3">
    <div class="flex-grow border-t border-gray-300"></div>
    <span class="mx-4 text-sm text-gray-500">または</span>
    <div class="flex-grow border-t border-gray-300"></div>
  </div>

<%= button_to user_google_oauth2_omniauth_authorize_path,
  method: :post,
  data: { turbo: false },
  class: "w-full flex items-center justify-center gap-3 rounded-lg border border-gray-300 bg-white px-6 py-3 text-gray-700 font-medium hover:bg-gray-50 active:bg-gray-100 shadow-sm" do %>

  <img src="https://developers.google.com/identity/images/g-logo.png" class="w-5 h-5">
  Googleでログイン
<% end %>
</div>

    <div class="mt-6 border-t pt-6 text-center text-sm space-y-2">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>